<%= form_for(@kotum) do |f| %>
  <% if @kotum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kotum.errors.count, "error") %> prohibited this kotum from being saved:</h2>

      <ul>
      <% @kotum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :provinsi_id %><br>
    <%= f.text_field :provinsi_id %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br>
    <%= f.check_box :is_active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
