<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @ticket.id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @ticket.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @ticket.message %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @ticket.is_active %>
</p>

<p>
  <strong>Is read:</strong>
  <%= @ticket.is_read %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>

<p>
  <strong>Numbering:</strong>
  <%= @ticket.numbering %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
