<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @role.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @role.is_active %>
</p>

<p>
  <strong>Set default:</strong>
  <%= @role.set_default %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
