<%= form_for(@provinsi) do |f| %>
  <% if @provinsi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provinsi.errors.count, "error") %> prohibited this provinsi from being saved:</h2>

      <ul>
      <% @provinsi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br>
    <%= f.check_box :is_active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
